<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
    <div style="margin: 15em;">
        <h1>welcome the test upload page</h1>
        <h4 style="color: red">upload ID photos ,and return the identification information,you need to select following options</h4>
        <div style="margin-top: 5em">
            >>>>>> <a href="/admin">admin</a> <<<<<<<br /><br />

            >>>>>> <a href="/uploadfront">uploadfront</a> <<<<<<<br/><br />

            >>>>>> <a href="/uploadback">uploadback</a> <<<<<<<br/><br />

        </div>
    </div>


</body>
</html>